#root {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  margin: 0 auto;
  padding: 0 auto;
}

.container {
  display: block;
  flex-direction: column;
  align-items: center;
}
.logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  background-color: black;
  height: 120px;
}

.flags {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  list-style-type: none;
}

li {
  height: 50px;
  margin-top: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: black;
  color: white;
  padding: 10px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
