body {
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e8f8fd !important;
  position: relative;
  margin-top: 120px;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  background-color: #fefefe;
  height: 120px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.logo {
  height: 40px;
}

.productWrap {
  padding: 40px 0px;
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.product {
  height: 220px;
}

.choose {
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 40px;
  color: #18869a;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-weight: 700;
  font-size: 30px;
}
.wrap {
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.flag {
  height: 180px;
  margin-top: 50px;
  border: solid 3px;
  border-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.terms {
  margin-top: 400px;
  color: #e8f8fd !important;
  cursor: default;
}

@media screen and (max-width: 999px) {
  .productWrap {
    padding: 20px 0px;
  }
  .wrap {
    display: flex;
    flex-direction: row;
  }

  .flag {
    height: 100px;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .productWrap {
    padding: 20px 40px;
  }
  .choose {
    margin-top: 80px;
  }
  .product {
    height: 120px;
  }

  .flag {
    gap: 10px;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
  }
}
