body {
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e8f8fd !important;
  margin-top: 120px;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  background-color: #fefefe;
  height: 120px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.logo {
  height: 40px;
}

.productWrap {
  padding: 40px 0px;
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.product {
  height: 220px;
}

.choose {
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 40px;
  color: #18869a;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-weight: 700;
  font-size: 30px;
}
.wrap {
  padding: 20px 20px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.flag {
  height: 180px;
  margin-top: 50px;
  border: solid 3px;
  border-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.containerWarranty {
  background-color: #ffff;
  justify-content: center;
  align-items: center;
}
.heading1 {
  margin-top: 40px;
  padding: 40px 0px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #ffff;
}

.heading2 {
  margin-top: 40px;
  padding: 40px 0px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.warranty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
  background-color: #ffff;
}

.containerToogle {
  margin: 0 auto;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 40px 0px;
  background-color: #ffffff;
}

.containerButton {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading {
  display: flex;
  font-size: 20px;
  color: #333;
  width: 920px;
}
.toggle_button {
  padding: 0px 0px;
  color: #18869a;
  border: none;
  height: 32px;
  width: 32px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50% !important;
  transition: background-color 0.3s ease;
  flex: 0 0 32px;
}

.toggle_button:hover {
  color: #18869a;
}

.text {
  font-size: 18px;
  color: #222222;
  margin: 0px 360px;
  line-height: 2;
  padding-left: 4px;
}

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
}

.scrollToTopButton:hover {
  background-color: #0056b3;
}

.terms {
  margin-top: 400px;
  color: #e8f8fd !important;
  cursor: default;
}

@media screen and (max-width: 999px) {
  .productWrap {
    padding: 20px 0px;
  }
  .wrap {
    display: flex;
    flex-direction: row;
  }

  .flag {
    height: 100px;
    gap: 20px;
  }

  .warranty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
  }
  .warranty_img {
    height: 300px;
  }
  .containerToogle {
    padding: 16px 20px;
  }

  .heading {
    display: flex;
    font-size: 16px;
    width: 500px;
    margin-right: 40px;
  }
  .text {
    width: 90%;
    margin: 10%;
  }
}

@media screen and (max-width: 767px) {
  .productWrap {
    padding: 20px 40px;
  }
  .choose {
    margin-top: 80px;
  }
  .product {
    height: 120px;
  }

  .flag {
    gap: 10px;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
  }

  .warranty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 8px;
  }
  .warranty_img {
    height: 220px;
  }
  .containerToogle {
    display: flex;
    margin-bottom: 20px;
  }

  .containerButton {
    display: flex;
    padding: 0px 0px;
  }

  .toggle_button {
    border: none;
    border-radius: 50% !important;
    align-items: center;
    justify-content: center;
    min-height: 24px;
    min-width: 24px;
    font-size: 16px;
    flex: 0 0 32px;
  }

  .heading {
    padding-left: 16px;
    display: flex;
    font-size: 16px;
    width: 240px;
    margin-right: 32px;
  }
  .heading1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-left: 24px;
  }

  .heading2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-left: 24px;
  }
  .text {
    font-size: 16px;
  }
}
